html {
  font-size: 12px;
}

body{
	margin: 0px;
	padding: 0%;
}

#map{
	height: 100%;
}

#widget{
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logoimg{
	width: 100%;
}

.home{
	height: 95%;
}

.footer {
	height: 5%;
	width: 100%;
}

.login{
	text-align: left;
}